@font-face {
    font-family: Qardoos;
    src: url("assets/Qardoos.otf");
}
@font-face {
    font-family: Simpletix;
    src: url("assets/simpletix.otf");
}
@font-face {
    font-family: CormorantGaramondLight;
    src: url("assets/CormorantGaramondLight.ttf");
}


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    
    overflow-x: hidden;
}


#main-grid {
    display: grid;
    grid-template-columns: 1fr;
}

/* > Section one */

#section-one {
    --PrimaryFontColor: rgb(255, 255, 255);
    --SecundaryFontColor: rgb(235, 0, 0);
    color: var(--PrimaryFontColor);
}

#header {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    position: absolute;
}
#header > a {
    text-decoration: none;
    color: var(--PrimaryFontColor);
}
#logo {
    font-family: CormorantGaramondLight;
    font-size: 2rem;
}
.navlink {
    font-family: Simpletix;
    color: var(--PrimaryFontColor);
    text-decoration: none;
    font-size: 1.1em;
}
.navlink:not(:last-of-type) {
    margin-right: 1.5vw;
}
.navlink:hover {
    color: rgb(206, 206, 206);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

#hero {
    width: 100vw;
    height: 100vh;
    /*background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)), url("https://blogimages.musement.com/2021/05/AdobeStock_264880447-scaled.jpeg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    */
    display: flex;
    justify-content: center;    
    align-items: center;
}
#gray-sheet {
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: absolute;
}
video {
    position: absolute;
    z-index: -10;
    right: 0;
    bottom: 0;
    width: 100%;
}
#video-container {
    background: linear-gradient(0deg, 
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1));
}
#hero-content > h1{
    text-align: center;
    font-family: Qardoos;
    font-size: 4rem;
}
#hero-content > p{
    text-align: center;
    font-family: Simpletix;
    font-size: 1rem;
}

.anim-fade-in {
    animation-name: fade-in;
    animation-duration: 3s;
}

@keyframes fade-in{
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    50% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 1);
    }
}

.anim-fade-in-letter {
    animation-name: fade-in-letter;
    animation-duration: 3s;
}

@keyframes fade-in-letter {
    0% {
        color: rgba(255, 255, 255, 0);
    }
    50% {
        color: rgba(255, 255, 255, 0);
    }
    100% {
        color: rgba(255, 255, 255, 1);
    }
}

.anim-fade-in-withBox {
    animation-name: fade-in-withBox;
    animation-duration: 3s;
}

@keyframes fade-in-withBox {
    0% {
        border-bottom-color: rgba(169, 169, 169, 0);
    }
    50% {
        border-bottom-color: rgba(169, 169, 169, 0);
    }
    100% {
        border-bottom-color: rgba(169, 169, 169, 1);
    }
}

/* < Section one */

/* > Section two */

#section-two {
    width: 1fr;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#st-title {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#st-h1 {
    text-align: center;
    font-family: Qardoos;
    font-size: 4rem;
    color: white;
}
.stblock {
    width: 15vw;
    height: 50vh;
    background-color: black;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 0 auto;
}